<% unless current_user.relationships.present? %>
  <p><%= @recommendation %></p>
<% end %>

<%# ユーザーを探す %>

<% @posts.each do |post| %>
  <%= link_to post_path(post) do %>
    <%= image_tag post.get_post_image(300, 400) %>
  <% end %>
<% end %>