<div class="container-fruid mx-5">
  <div class="row justify-content-center p-5">
    <div class="col-4" style="width:100%; height:500px; background-image:image-url("images/seeky_about.jpg"); background-size:cover; background-position:center"></div>
    <div class="col-auto ml-5">
      <h1>Chase the ideal self!</h1>
      <p>似合うを見つけよう。</p>
      <%= link_to "アカウント作成", new_user_registration_path, class: "btn btn-outline-primary mt-3 mb-5" %>
      <p class="text-secondary mt-5">アカウントをお持ちの方</p>
      <%= link_to "ログイン", new_user_session_path, class: "btn btn-outline-success" %>
    </div>
  </div>
</div>