<div class="container-fluid my-5 px-0 mx-0">
  <div class="row justify-content-center mx-5 flex-sm-nowrap">
    <%= render 'usersearch', q: @q %>
    <div class="col-sm-9 mx-2">
      <%= render 'relationship', users: @users %>
    </div>
  </div>
</div>