<% unless @user.status=="withdrawal" %>
  <%= render 'userinfo', user: @user, following_user: @following_user, relationship: @relationship, followers: @followers, posts: @posts %>
<% else %>
  <p>このアカウントは削除されました。</p>
<% end %>
