<div class="container pt-1 pb-5 mt-5 mb-5 mx-auto">
  <div class="row pt-5 mb-4 justify-content-center">
    <h5 class="font-weight-bold">本当に削除しますか？</h5>
  </div>
  <div class="row justify-content-center mb-5">
    <p class="text-center">
      アカウントを削除すると、あなたのアカウントの詳細情報、投稿が非表示になります。<br>
      削除する場合は、「削除する」をクリックしてください。
    </p>
  </div>
  <div class="row justify-content-center mb-2">
    <div class="col-2 mr-1"><%= link_to "削除しない", user_path(current_user), class: "btn btn-success w-100" %></div>
    <div class="col-2 ml-1"><%= link_to "削除する", withdraw_user_path(current_user), method: :patch, data: { confirm: '削除します' }, class: "btn btn-danger w-100" %></div>
  </div>
</div>