<div class="container-fluid my-5 px-0 mx-0">
  <div class="row justify-content-center mx-5 flex-sm-nowrap">
    <%= render 'usersearch', q: @q %>
    <div class="col-sm-9 mx-2">
      <% if @results.present? %>
        <%= render 'relationship', users: @results %>
      <% else %>
        <div class="mb-5">
          <p>一致する投稿がありません。条件を変えて検索してください。</p>
        </div>
        <%= render 'relationship', users: @users %>
      <% end %>
    </div>
  </div>
</div>